/* Pre made CSS */
.App {
  text-align: center;
  background-color: #4cf075 ;
  height: 100vh;
  overflow: hidden;
}
/* Changed .App to have height and a background */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #cdd48f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Custom CSS */
.Sign-N-Log{
  padding-top: 3%;
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.Log{
  margin: 6% auto;
  width: 12%;
  padding:1% 6%;
  background-color:whitesmoke ;
  border-radius: 10px;
}
.Sign{
  margin: 6% auto;
  width: 12%;
  padding:1% 6%;
  background-color: whitesmoke;
  border-radius: 10px;
}
.nav-links {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  color:green;
  font-size: 1.2rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  color: green;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4%;
}

input#username {
  width: 300px;
  height: 30px;
  margin-top: 1%;
}
input#username {
  width: 300px;
  height: 30px;
  margin-top: 1%;
}

input#email {
  width: 300px;
  height: 30px;
  margin-top: 1%;
}

input#phone {
  width: 300px;
  height: 30px;
  margin-top: 1%;
}

input#password {
  width: 300px!important;
  height: 30px;
  margin-top: 1%;
}

input#repassword {
  width: 300px !important;
  height: 30px;
  margin-top: 1%;
}

button {
  height: 40px;
  width: 100%;
  background-color: royalblue;
  color: white;
  font-size: 1rem;
  margin-top: 2%;
  margin-bottom: 3%;
}

p.errors {
  color: red;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2%;
}

::placeholder {
  font-size: 1rem;
}

p {
  font-size: 0.8rem;
  color: royalblue;
  margin: 1%;
}

select.food-select {
  width: 300px;
  height: 30px;
  font-size: 1rem;
}
.termsBox {
  display: flex;
  justify-content: center;
  margin: 2%;
}
h1 {
  color: white;
}
.signup {
  color: black;
}
.signupLogin {
  display: flex;
  justify-content: space-evenly;
}
.login {
  color: black;
}
.loginLabels {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signupLabels {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.createPlant {
  padding: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
}


.plantList {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 9px;
  padding-left: 2%;
  padding-right: 2%;
  width: 40vw;
  height: 70vh;
}

.plant {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

input.input {
  width: 99%;
  font-size: 1.2rem;
  height: 40px;
  color: black;
}

.delbtn {
  width: 70px;
  background-color: red;

}

.image {
  width: 60vw;
  height: 70vh;
}