/* Pre made CSS */
.App {
  text-align: center;
  background-color: #4cf075 ;
  height: 100vh;
  overflow: hidden;
}
/* Changed .App to have height and a background */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #cdd48f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Custom CSS */
.Sign-N-Log{
  padding-top: 3%;
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.Log{
  margin: 6% auto;
  width: 12%;
  padding:1% 5%;
  background-color:#f7f7f7b6 ;
  border-radius: 10px;
}
.Sign{
  margin: 6% auto;
  width: 12%;
  padding:1% 5%;
  background-color: #f7f7f7b6;
  border-radius: 10px;
}
.nav-links {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  color:rgb(0, 0, 0);
}

form {
  background-color: whitesmoke;
  width: 100%;
  padding-bottom: 1.7%;
  margin-top: 2%;
  margin-bottom: 5%;
  border-radius: 6px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4%;
}

input#name {
  width: 300px;
  height: 30px;
  margin-top: 1%;
}

input#number {
  width: 300px;
  height: 30px;
  margin-top: 1%;
}

input#password {
  width: 300px!important;
  height: 30px;
  margin-top: 1%;
}

input#repassword {
  width: 300px !important;
  height: 30px;
  margin-top: 1%;
}

button {
  height: 40px;
  width: 100%;
  background-color: royalblue;
  color: white;
  font-size: 1rem;
  margin-top: 2%;
  margin-bottom: 3%;
}

p.errors {
  color: red;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2%;
}

::placeholder {
  font-size: 1rem;
}

p {
  font-size: 0.8rem;
  color: royalblue;
  margin: 1%;
}

select.food-select {
  width: 300px;
  height: 30px;
  font-size: 1rem;
}
.termsBox {
  display: flex;
  justify-content: center;
  margin: 2%;
}
h1 {
  color: white;
}
.signup {
  color: black;
}
.signupLogin {
  display: flex;
  justify-content: space-evenly;
}
.login {
  color: black;
}
.loginLabels {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signupLabels {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}